body {
	background:#eeeeee; 
}
.menu {
	margin: 0;
	background-color: #b2e5f8;

}
.ul1 {
	text-align: center;
}
.ul1>li:hover {
	background-color: #8db916;
}
.ul1 li:hover>ul{
	display: block;
}
.ul1 ul {
	padding: 0;
}
.ul1 ul li {
	border-top: 1px solid #ca3438;
	padding: .5em;
}
.ul1 ul li:hover>a {
	background-color: #98badc;
}
.ul1 ul li li:hover>a {
	background-color: #a8fafb;
}
.ul1 ul ul{
	position: absolute;
	left: 100%;
	top: 0;
}
.banner1 {
	margin: 0;
	background-color: #eeeeee;
}
.banner1 img {
	margin: 0 auto;
	width: 1150px;
	height: 100px;
}
.navbar-default .navbar-nav>li>a{
	color: #123456;
}
footer {
	clear: both;
	background: #fdddb4;
	color: #5990a4;
	border-radius: 20px;
}
.home-tintuc {
	margin-top: 40px;
}